body{
	margin: 0px;
	font-family: tahoma;
	background-image: url(cinema5.jpg);
	background-attachment: fixed;
	background-attachment: center top;
	background-repeat: no-repeat;
	font-size: 12pt;
}

#cabeçalho{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) 
}



#boxtable1 td {
	border-style: solid;
	border-color: red;
	font-size: 15pt;
	margin-bottom: 10px;
	border-width: 10px;
}

#just{
	padding: 300px;
	color: #F5F5DC;
}

#filme1{

	width: 650px;
  	background-color:#DCDCDC;
	border-style: solid;
	border-color:#000000;
	border-width: 10px;
	border-radius: 10px;
	padding: 100px;
	margin-bottom: 0px;
	font-family: tahoma;
	text-align: justify;
	position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#img1{

	float: left;
	
	
	}

#boxtable2 td {
	border-style: solid;
	border-color: red;
	font-size: 15pt;
	margin-bottom: 10px;
	border-width: 10px;	
}

#tabela2{
	padding: 300px;
	color: #F5F5DC;
	
}

#filme2{

	width: 650px;
  	background-color:#DCDCDC;
	border-style: solid;
	border-color:#000000;
	border-width: 10px;
	border-radius: 10px;
	padding: 100px;
	margin-bottom: 0px;
	font-family: tahoma;
	text-align: justify;
	position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

#img2{

	float: left;
	
	}
#boxtable3 td {
	border-style: solid;
	border-color: red;
	font-size: 15pt;
	margin-bottom: 10px;
	border-width: 10px;
}

#tabela3{
	padding: 300px;
	color: #F5F5DC;

}

#filme3{

	width: 650px;
  	background-color:#DCDCDC;
	border-style: solid;
	border-color:#000000;
	border-width: 10px;
	border-radius: 10px;
	padding: 100px;
	margin-bottom: 0px;
	font-family: tahoma;
	text-align: justify;
	position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

#img3{

	float: left;
	
	
	}


